@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Application created by Martin Cieślik</p>

<p>
    <h4>Contents of the project</h4>
    All methods used to do this task are in the Models folder.<br />
    The class "CountryHandler" has all methods regarding adding, deleting, modifing or getting records.
    <br/>
    To test out methods (or to see use cases) please look into Global.asax.cs.
    <br />
    The frontend has been done using Razor.
    <br /><br />
    Done in VS 2017
    </p>
